* {
    margin: 0;
    padding: 0;
    font-family:cursive ;
}

header {
    margin-top: 20px;
}

nav {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}


.navCategory {
    display: flex;
    width: Fixed (186px);
    height: Fixed (36px);
    padding: 8px 20px;
    border-radius: 57px;
    border: 2px solid #000;
    gap: 40px;
}

.nav_img {
    cursor: pointer;
}

.nav_itemStart {
    text-align: center;
    align-items: center;
    background-color: black;
    padding: 7px 7vh;
    border-radius: 59px;
    gap: 10px;
}

.itemStart {
    cursor: pointer;
    color: white;
}


.block {
    display: flex;
    align-items: center;
    margin: 20vh 0vh 0vh 10vh;
    gap: 30px;
}

.block_item1 {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 600;
    /* line-height: 38px; */
}

.block_item2 {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    /* line-height: 28px; */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4vh 0 0 10vh;
    gap: 10vh;
}

.food_down {
    position:relative;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    background-color: #FFE4BC;
}

footer {
    background-color: #231304;
    margin-top: 10vh;
    padding: 5px;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 5vh -10vh;
    color: white;
}

.footer_info {
    margin-top: 20px;
    width: 30vh;
}

.footer_more {
    cursor: pointer;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 19px;
}

.footer_info2 {
    color: #898989;
    margin-top: 3vh;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.footer_block2 {
    align-items: center;
    margin-top: 1vh;
}

.ul1 {
    padding: 5vh 0 0 0 ;
}


.footer_block3 {
    align-items: center;
    margin-top: 1vh;
}

.ul2 {
    padding: 5vh 0 0 0 ;
}

.icons {
    margin-top: 18px;
    display: flex;
    gap: 20px;
}

.icon_block {
    cursor: pointer;
    /* text-align: center;
    align-items: center; */
    /* position: relative; */
    border-radius: 5px;
    width: 6vh;
    height: 6vh;
    background-color: #FFB84E;
}

.icon1 {
    margin: -3px;
}

.icon2 {
    margin: 6px 0px 0px 7px;
}

.icon3 {
    margin: 6px 0px 0px 7px;
}

@media  (max-width: 768px) {
    .container {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
      /* gap: 10vh; */
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        flex-wrap: wrap;;
    }

    .footer_container {
        display: flex;
        justify-content: space-around;
        margin: 20px 0 5vh 3vh;
        color: white;
        flex-direction: column;
    }
    nav {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 5vh;
        flex-direction: column;
    }
    .block {
        display: flex;
        align-items: center;
        margin: 20vh 0vh 0vh 0vh;
        gap: 30px;
        flex-direction: column
    }
    .footer_info {
        margin-top: 20px;
        width: auto;
    }
    
    }
